#log-text-area{
  width: 100%;
  height: 100%;
}

#meeting-panel{
	display:none;
}

#stream-area{
	min-height: 200px;
	/*border: 1px solid black;*/
}

#log-panel{
	width: 100%;
	height: 200px;
}

.stream-box{
	float: left;
	padding: 0.25em;
	margin: 1em;
	width: 10em;

	height: 13em;
	border: 2px solid #1C2331;
	border-radius: 2px;
}

.queue-area{
	height: 200px;
}

.clearBoth { 
	clear:both; 
}

.label-name{
	display: block;
	margin: 0.5em;
}

.label-talkstatus{
	display: block;
	margin: 0.5em;
}

.timeleft-progress-wrapper{
	margin: 0.5em;
}


.panel-stream{
	width: 20%;
	min-width: 8em;
	min-height: 16em;
	float: left;
	margin: 1em;
}

.panel-stream-active{
	border: 5px solid #0099CC;
	border-radius: 3px;
}

.panel-stream-superpower{
	background-color: #ccff80;
}

/* heres the actual video stream */
.stream-panel-body{
	height: 100px;
}

.stream-info-table{
	width: 100%;
}

.btns_agreement{
	margin-top: 0.5em;
}
