#log-text-area
{
  height: 300px;
  max-height: 300px;
  width: 100%;  
}

#meeting-panel{
	display:none;

}

#stream-area{
	min-height: 200px;
	/*border: 1px solid black;*/
}

.stream-box{
	float: left;
	padding: 0.25em;
	margin: 1em;
	width: 10em;
	height: 13em;
	border: 2px solid #1C2331;
	border-radius: 2px;
}

.clearBoth { 
	clear:both; 
}

.label-name{
	display: block;
	margin: 0.5em;
}

.label-talkstatus{
	display: block;
	margin: 0.5em;
}

.timeleft-progress-wrapper{
	margin: 0.5em;
}


.panel-stream{
	width: 20%;
	float: left;
	margin: 1em;
}

/* heres the actual video stream */
.stream-panel-body{
	height: 100px;
}

.stream-info-table{
	width: 100%;
}

.btns_agreement{
	margin-top: 0.5em;
}
